/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Mukta+Vaani:wght@300&display=swap');

/* Asterisk wildcard selector to override browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    font-family: "Mukta Vaani", sans-serif;
    background-color: #1f113e;
}

h1, h2, h3 {
    color: #f5f5f5;
    font-family: "Exo", sans-serif;
    font-weight: 200;
}

#logo {
    color: #a8a8ff;
    letter-spacing: 3px;
}

/*Header*/
header {
    /*Dark blue-purple background color*/
    background-color: #1f113e;
    position: fixed;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px #a8a8ff;
}

#menu li {
    list-style-type: none;
    margin-bottom: .5rem;
}

#menu a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 120%;
}

/*Dropdown menu for mobile devices*/
#menu {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #1f113e;
    padding: .5rem 2rem;
    display: none;
    box-shadow: 3px 3px 10px #a8a8ff;
}

#dropdown-label {
    color: #a8a8ff;
    font-size: 2rem;
    margin-left: 1rem;
}

#dropdown {
    align-self: flex-start;
    display: none;
}

#dropdown:checked~#menu {
    display: block;
}


/*Main content*/
main {
    /*Fill up space to push footer down*/
    flex: 1 0;
    /*Push main content down to display below header*/
    margin-top: 156px;
}

/*Footer*/
footer {
    background-color: rgb(51, 78, 77);
}

/*Media query: device width where logo breaks into two lines (482px and up)*/
@media screen and (min-width: 482px) {
    /*Main content starts directly below header*/
   main {
    margin-top: 114px;
   }

}