/*Import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Mukta+Vaani:wght@300&display=swap');

/* Asterisk wildcard selector to override browser default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    font-family: "Mukta Vaani", sans-serif;
    /*Dark blue-purple background color*/
    background-color: #1d0f39;
}

h1, h2, h3 {
    color: #f5f5f5;
    font-family: "Exo", sans-serif;
    font-weight: 200;
}

/*Header*/
header {
    background-color: #1d0f39;
    position: fixed;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px #a8a8ff;
    z-index: 3;
}

header a {
    text-decoration: none;
    color: #a8a8ff;
}

#logo {
    color: #a8a8ff;
    letter-spacing: 3px;
}

#menu li {
    list-style-type: none;
    margin-bottom: .5rem;
}

#menu a {
    color: #f5f5f5;
    font-size: 120%;
    padding: 0 .5rem;
}

#menu a:hover {
    color: #a8a8ff;
    border-bottom: solid 1px #a8a8ff;
}

#menu a.active {
    border-bottom: 1px solid #a8a8ff; 
    color: #a8a8ff;
}

/*Dropdown menu for mobile devices*/
/*Code inspiration for this feature from: Code Institute love running walkthrough project*/
/*https://github.com/Code-Institute-Solutions/love-running-v3*/
#menu {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #1d0f39;
    padding: .5rem 2rem;
    display: none;
    box-shadow: 3px 3px 10px #a8a8ff;
}

#dropdown-label {
    color: #a8a8ff;
    font-size: 2rem;
    margin-left: 1rem;
}

#dropdown {
    align-self: flex-start;
    display: none;
}

#dropdown:checked~#menu {
    display: block;
}


/*Main content*/
main {
    /*Fill up space to push footer down*/
    flex: 1 0;
    /*Push main content down to display below header*/
    margin-top: 9.8rem;
}

/*Hero image section*/
#hero-image {
    background: url(../images/higgs-boson-conceptual-illustration.jpg) no-repeat center center/cover;
    width: 100%;
    position: relative;
    height: 600px;
}

/*Footer*/
footer {
    box-shadow: 0 -3px 10px #a8a8ff;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

#social-media {
    width: 25%;
    display: flex;
    justify-content: space-around;
}

#social-media a {
    text-decoration: none;
    color: #f5f5f5;
}

#social-media a:hover {
    color: #a8a8ff;
}


/*Media queries: designs above are mobile first,
logo breaks into two lines for most mobile devices (308-481px)*/
/*Media query: very narrow windows, logo breaks into three lines (307px and down)*/
@media screen and (max-width: 307.5px) {
    /*Main content starts directly below header*/
   main {
    margin-top: 12.4rem;
   }

}

/*Media query: device width where logo is contained in one line (482px and up)*/
@media screen and (min-width: 482px) {
    /*Main content starts directly below header*/
   main {
    margin-top: 7.1rem;
   }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header*/
    #menu {
        display: block;
        position: relative;
        box-shadow: none;
        padding: 0 2rem;
    }
      
    #menu ul {
        display: flex;
        justify-content: space-between;
    }

    #menu a {
        font-size: 130%;
    }

    #dropdown-label {
        display: none;
    }

    #logo {
        font-size: 240%;
        line-height: 4.5rem;
        margin: 0 0.5rem;
    }

    /*Main content*/
    main {
        margin-top: 8.3rem;
    }

    /*Footer*/
    #social-media a {
        font-size: 130%;
    }

}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    /* Header*/
    #menu {
        padding: 0 6rem;
    }

    #menu a {
        font-size: 150%;
    }

    #logo {
        font-size: 280%;
        line-height: 5.5rem;
        margin: 0 1rem;
    }

    /*Main content*/
    main {
        margin-top: 9.7rem;
    }

    /*Footer*/
    #social-media a {
        font-size: 150%;
    }

}

/* Media query: large laptops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    /* Header*/
    #menu {
        padding: 0 9rem;
    }

    #menu a {
        font-size: 170%;
    }

    #logo {
        font-size: 330%;
        line-height: 6rem;
        margin: 0 1.5rem;
    }

    /*Main content*/
    main {
        margin-top: 10.5rem;
    }

    /*Footer*/
    #social-media a {
        font-size: 180%;
    }

}